<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <form action="" method="post">

        <input type="text" name="productName" placeholder="Product Name">
        <input type="number" name="productPrice" placeholder="Product Price">
        <input type="number" name="productQuantity" placeholder="Product Qunatity">
        <input type="text" name="productDescription" placeholder="Product Description">


        <button type="submit">Edit Product</button>
    </form>
</body>
</html>